.section__name__text__slogan {
  margin: 0;
  padding: 0;
  padding-top: 1.7vh;
  color: #262626;
  font-family: Manrope;
  font-size: 4vh;
  font-style: normal;
  font-weight: 500;
  line-height: 5.1vh; /* 127.778% */
  text-transform: uppercase;
}
