.footer__two__block__text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Manrope;
  font-size: 4.4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
