.footer__one__block__text {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Manrope;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035vh;
  text-transform: uppercase;
}

.footer__one__block__text :hover{
  color: #757575;
}