.header_hat__phrase__text {
  margin: 0;
  padding: 0;
  color: #292929;
  font-family: Manrope;
  font-size: 7.1vh;
  font-style: normal;
  font-weight: 500;
  line-height: 7.2vh;
  letter-spacing: 0.4vh;
  text-transform: uppercase;
  /* white-space: nowrap; */

}
