.portfolioElement__img {
  margin: 0;
  padding: 0;
  height: 40vh;
  width: 31vw;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
