.section__content__advantages__block__text_big {
    MARGIN:0;
    padding: 0;
    color:  #262626;
    font-family: Manrope;
    font-size: 6vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }