.footer__three__text {
  margin: 0;
  padding: 0;
  color:  #fff;
  font-family: Manrope;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035vh;
}
