.popup__form__about{
    margin:0;
    padding:0;
    margin: 0;
  padding: 0;
  color:  black;
  font-family: Manrope;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035vh;
}