.header_hat__phrase__text_blue {
  margin: 0;
  padding: 0;
  color: #3f62de;
  font-family: Manrope;
  font-size: 7.1vh;
  font-style: normal;
  font-weight: 500;
  line-height: 7.2vh;
  letter-spacing: 0.4vh;
  text-transform: uppercase;
  margin-right: 6.2vh;
  /* display: inline; */

}
